<div class="wrapper flex flex-center-h">
    <div class="content">
        <div class="align-center margin-bot">
            <h3>Lista de Alunos</h3>
        </div>
        <thead class="table">
            <th class="col-sm-7">Nome</th>
            <th class="col-sm-2">Aulas</th>
            <th class="col-sm-2">Matrícula</th>
        </thead>
        <div *ngFor="let aluno of alunos">
            <div class="row">
                <div class="col-sm-7">
                    <div class="input-display"><p class="padding-h">{{aluno.nomeAluno}}</p></div>
                </div>
                <div class="col-sm-3">
                    <div class="input-display"><p class="padding-h">{{aluno.idCurso}}</p></div>
                </div>
                <div class="col-sm-2">
                    <div class="input-display"><p class="padding-h">{{aluno.idAluno}}</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class="button" alt="Cadastrar Aluno">
    <i class="fas fa-user-plus"></i>
</button>

<ng-template #cadastro>
    <div>
        
    </div>
</ng-template>