<div class="navbar">
    <div class="container">
        <a routerLink="/" routerLinkActive="active"><img src="./assets/logo.svg" alt="logo" class="pointer logo" height="60px" style="padding: 5px"></a>
        <nav>
            <ul>
                <li><a routerLink="/matricula" routerLinkActive="active">Matrícula</a></li>
                <li><a routerLink="/alunos" routerLinkActive="active">Alunos</a></li>
                <li><a routerLink="/cursos" routerLinkActive="active">Cursos</a></li>
                <li><a routerLink="/funcionarios" routerLinkActive="active">Funcionários</a></li>
            </ul>
        </nav>
    </div>
</div>