<div class="navbar">
    <div class="container">
        <img src="./assets/logo.png" alt="logo" class="logo" height="40px" style="padding: 5px" href="home.html">
        <nav>
            <ul>
                <li><a routerLink="/alunos" routerLinkActive="active">Alunos</a></li>
                <li><a routerLink="/cursos" routerLinkActive="active">Cursos</a></li>
                <li><a routerLink="/funcionarios" routerLinkActive="active">Funcionários</a></li>
            </ul>
        </nav>
    </div>
</div>