<div class="wrapper flex flex-center-h">
    <div class="content">
        <div class="row margin-v">
            <label class="margin-r">Curso: </label>
            <select class="margin-r" name="curso" [(ngModel)]="this.selectedCurso.idCurso">
                <option placeholder="Curso" *ngFor="let curso of cursos" [value]="curso.idCurso" ngDefaultControl>{{ curso.nomeCurso }}</option>
            </select>
            <button class="btn btn-success" type="button" (click)="getAulas()">Selecionar Curso</button>
        </div>
        <div class="row margin-v">
            <label class="margin-r">Matrícula do Aluno: </label>
            <input class="margin-r" name="matricula" type="number" [(ngModel)]="this.selectedAluno.idAluno" placeholder="ID Aluno">
            <button class="btn btn-success" type="button" (click)="getAluno()">Selecionar Aluno</button>
        </div>
        <div class="content" *ngIf="cursoWasSelected && alunoWasSelected">
            <div class="row">
                <div *ngFor="let aula of aulas">
                    <p>nice porra</p>
                </div>
            </div>
        </div>
    </div>
</div>
