<div class="wrapper flex flex-center-h">
    <div class="content">
        <div *ngIf="!editing">
            <div class="align-center margin-bot">
                <h3 class="main-title" *ngIf="!editing">Lista de Funcionarios</h3>
            </div>

            <div class="table-border">
                <thead class="table row no-margin">
                    <th class="col-sm-3"><span>Nome</span></th>
                    <th class="col-sm-2"><span>CPF</span></th>
                    <th class="col-sm-2"><span>Telefone</span></th>
                    <th class="col-sm-3"><span>Atuação</span></th>
                    <th class="col-md-2"><span>Ações</span></th>
                </thead>

                <tbody *ngFor="let funcionario of listFuncionarios" class="row no-margin">
                    <td class="col-sm-3"><span><strong class="pointer strong" (click)="openInfoModal(funcionario, infoModal)">{{funcionario.nomeFuncionario}}</strong></span></td>
                    <td class="col-sm-2"><span>{{funcionario.cpfFuncionario}}</span></td>
                    <td class="col-sm-2"><span>{{funcionario.telefoneFuncionario}}</span></td>
                    <td class="col-sm-3"><span>{{funcionario.atuacaoFuncionario}}</span></td>
                    <td class="col-md-2 flex-center-h">
                        <button class="btn yellow" type="button" (click)="onEdit(funcionario)"><i class="fa fa-wrench"></i></button>
                        <button class="btn red" type="button" (click)="onRemove(funcionario)"><i class="fa fa-times"></i></button>
                    </td>
                </tbody>
            </div>

        </div>

        <div *ngIf="editing">
            <h3 class="main-title" *ngIf="!this.selectedFuncionario.idFuncionario">Novo Funcionario</h3>
            <h3 class="main-title" *ngIf="this.selectedFuncionario.idFuncionario">Editando {{this.selectedFuncionario.nomeFuncionario}}</h3>
            <form>
                <div class="form-group">
                    <label for="name">Nome: </label>
                    <input name="name" [(ngModel)]="this.selectedFuncionario.nomeFuncionario" type="text" class="form-control">

                    <label for="nascimento">Data de Nascimento (DD/MM/YYYY): </label>
                    <input name="nascimento" [(ngModel)]="this.selectedFuncionario.dataNascFuncionario" type="text" class="form-control">

                    <label for="cpf">CPF: </label>
                    <input name="cpf" [(ngModel)]="this.selectedFuncionario.cpfFuncionario" type="number" class="form-control">

                    <label for="rg">RG: </label>
                    <input name="rg" [(ngModel)]="this.selectedFuncionario.rgFuncionario" type="number" class="form-control">

                    <label for="estadoCivil">Estado Civil: </label>
                    <input name="estadoCivil" [(ngModel)]="this.selectedFuncionario.estadoCivilFuncionario" type="text" class="form-control">

                    <label for="email">Email: </label>
                    <input name="email" [(ngModel)]="this.selectedFuncionario.emailFuncionario" type="text" class="form-control">

                    <label for="telefone">Telefone: </label>
                    <input name="telefone" [(ngModel)]="this.selectedFuncionario.telefoneFuncionario" type="number" class="form-control">

                    <label for="atuacao">Atuação: </label>
                    <input name="atuacao" [(ngModel)]="this.selectedFuncionario.atuacaoFuncionario" type="text" class="form-control">

                    <label for="cargaHoraria">Carga Horária: </label>
                    <input name="cargaHoraria" [(ngModel)]="this.selectedFuncionario.cargaHorariaFuncionario" type="text" class="form-control">

                    <label for="salario">Salário: </label>
                    <input name="salario" [(ngModel)]="this.selectedFuncionario.salarioFuncionario" type="text" class="form-control">

                    <label for="formacao">Formação: </label>
                    <input name="formacao" [(ngModel)]="this.selectedFuncionario.formacaoFuncionario" type="text" class="form-control">
                </div>
            </form>
            <div class="flex-center-h">
                <button class="btn btn-danger margin-r" (click)="changeMode(); onCancel();"> Cancelar <i class="fa fa-times"></i></button>
                <button class="btn btn-success margin-r" (click)="onFinish()"> Confirmar <i class="fa fa-check"></i></button>
            </div>
        </div>

    </div>
</div>

<button *ngIf="!editing" type="button" class="button" alt="Cadastrar Funcionario" (click)="onEdit()">
    <i class="fas fa-user-plus"></i>
</button>

<ng-template #infoModal>
    <div class="modal-header">
        <h2>Informações Completas</h2>
    </div>
    <div class="modal-body">
        <div class="detailed-info">
            <div class="row v-align no-margin">
                <p><span class="main-title margin-r">ID do Funcionário:  </span></p> <p>{{modalInfo.idFuncionario}}</p>
            </div>
            <div class="row v-align no-margin">
                <p><span class="main-title margin-r">Nome:  </span></p> <p>{{modalInfo.nomeFuncionario}}</p>
            </div>
            <div class="row v-align no-margin">
                <p><span class="main-title margin-r">Data de Nascimento:  </span></p> <p>{{modalInfo.dataNascFuncionario}}</p>
            </div>
            <div class="row v-align no-margin">
                <p><span class="main-title margin-r">CPF:  </span></p> <p>{{modalInfo.cpfFuncionario}}</p>
            </div>
            <div class="row v-align no-margin">
                <p><span class="main-title margin-r">RG:  </span></p> <p>{{modalInfo.rgFuncionario}}</p>
            </div>
            <div class="row v-align no-margin">
                <p><span class="main-title margin-r">Estado Civil:  </span></p> <p>{{modalInfo.estadoCivilFuncionario}}</p>
            </div>
            <div class="row v-align no-margin">
                <p><span class="main-title margin-r">Email:  </span></p> <p>{{modalInfo.emailFuncionario}}</p>
            </div>
            <div class="row v-align no-margin">
                <p><span class="main-title margin-r">Telefone:  </span></p> <p>{{modalInfo.telefoneFuncionario}}</p>
            </div>
            <div class="row v-align no-margin">
                <p><span class="main-title margin-r">Atuação:  </span></p> <p>{{modalInfo.atuacaoFuncionario}}</p>
            </div>
            <div class="row v-align no-margin">
                <p><span class="main-title margin-r">Carga Horária:  </span></p> <p>{{modalInfo.cargaHorariaFuncionario}}</p>
            </div>
            <div class="row v-align no-margin">
                <p><span class="main-title margin-r">Salário:  </span></p> <p>{{modalInfo.salarioFuncionario}}</p>
            </div>
            <div class="row v-align no-margin">
                <p><span class="main-title margin-r">Formação:  </span></p> <p>{{modalInfo.formacaoFuncionario}}</p>
            </div>
        </div>
    </div>
</ng-template>