/* COLORS */
/*  orange -> #F9542E */
/* lighter/yellower orange -> #FA6132 */
/*  teal -> #2DFAB0 */
/*  blue -> #1492FA */
/*  pastel orange -> #FA7D61 */
/*  not quite white -> #FAFAFA */


/* COLOR CLASSES! */
.red {
    color: #FF271A;
}

.yellow {
    color: #FFC01D;
}

.green {
    color: #24821A;
}

/* GENERIC PROPERTIES */
.fixed {
    resize: none;
}

.align-center {
    text-align: center;
}

.push-left {
    float: left;
}

.push-right {
    float: right;
}

.margin-bot {
    margin-bottom: 20px;
}

.flex {
    display: flex;
}

.no-margin {
    margin: 0px;
}

.margin-r-l {
    margin-right: 5px;
    margin-left: 5px;
}

.padding-v {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-h {
    padding-right: 10px;
    padding-left: 10px;
}

.flex-center-v {
    align-items: center;
}

.flex-center-h {
    justify-content: center;
}

/* SPECIFICS */

.wrapper {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #fff;
}

.navbar-expand {
    width: 100%;
}

.navbar a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.navbar a:hover{
    color: #F9542E;
}

.main-title {
    color: #F9542E;
    font-weight: bold;
    cursor: auto;
}

.content {
    min-height: 100%;
    width: 1110px;
    padding: 10px;
    background-color: rgb(250, 250, 250);
}

.input-display {
    background: #fafafa;
    border-radius: 6px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
}

button:hover {
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
}