/* COLORS */


/*  orange -> #F9542E */


/* lighter/yellower orange -> #FA6132 */


/*  teal -> #2DFAB0 */


/*  blue -> #1492FA */


/*  pastel orange -> #FA7D61 */


/*  not quite white -> #FAFAFA */


/* COLOR CLASSES! */

.red {
    color: #FF271A;
}

.yellow {
    color: #FFC01D;
}

.green {
    color: #24821A;
}


/* GENERIC PROPERTIES */

.fixed {
    resize: none;
}

.align-center {
    text-align: center;
    vertical-align: middle;
}

.push-left {
    float: left;
}

.push-right {
    float: right;
}

.margin-bot {
    margin-bottom: 20px;
}

.flex {
    display: flex;
}

.no-margin {
    margin: 0px;
}

.margin-r {
    margin-right: 10px;
}

.margin-r-l {
    margin-right: 5px;
    margin-left: 5px;
}

.margin-v {
    margin-top: 10px;
    margin-bottom: 10px;
}

.padding-v {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-h {
    padding-right: 10px;
    padding-left: 10px;
}

.flex-center-v {
    align-items: center;
}

.flex-center-h {
    justify-content: center;
}


/* SPECIFICS */

.wrapper {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #fff;
}

.navbar-expand {
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.navbar a:hover {
    color: #F9542E;
}

.main-title {
    color: #F9542E;
    font-weight: bold;
    cursor: auto;
}

.content {
    min-height: 100%;
    width: 1110px;
    padding: 10px;
    background-color: rgb(250, 250, 250);
}

.table-border {
    border-top: solid .5px #F9542E;
    border-left: solid .5px #F9542E;
    border-right: solid .5px #F9542E;
}

.v-align {
    vertical-align: middle;
}

.detailed-info p{
    color: #000;
}

.detailed-classes {
    border: solid .5px #fafafa;
    padding: 10px;
}

.input-display {
    background: #fafafa;
    border-radius: 6px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.pointer {
    cursor: pointer;
}

.inline {
    display: inline;
}

button:hover {
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

table span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=text]:focus{
    outline: 2px solid orange;     /* oranges! yey */
  }