/* COLORS */
/*  orange -> #F9542E */
/*  teal -> #2DFAB0 */
/*  blue -> #1492FA */
/*  pastel orange -> #FA7D61 */
/*  not quite white -> #FAFAFA */


.align-center {
    text-align: center;
}

.push-left {
    float: left;
}

.push-right {
    float: right;
}

.margin-bot {
    margin-bottom: 20px;
}

.flex {
    display: flex;
    justify-content: center;
}

.padding-v {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-h {
    padding-right: 10px;
    padding-left: 10px;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #fff;
}

.navbar-expand {
    width: 100%;
}

.navbar a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.navbar a:hover{
    color: #F9542E;
}

.content {
    min-height: 100%;
    width: 1110px;
    background-color: #fff;
    padding: 10px;
}

.input-display {
    background: #fafafa;
    border-radius: 6px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
}

.service {
    color: #1492FA;
}