@import "~bootstrap/dist/css/bootstrap.css";

body {
    margin: 0;
  }

.flex {
    display: flex;
    justify-content: center;
}

.content {
    height: 900px;
    width: 60%;
    background-color: #a3a3a3;
}


