<div class= "detailed-classes">
    <p class="main-title margin-r">Aulas: </p>
    <div *ngFor="let aula of listAulas">
        <span class="margin-r-l">{{aula.dsDia}} - {{aula.hrInicio}} até {{aula.hrFim}}</span>
    </div>
</div>

<div class="detailed-classes">
    <div *ngIf="!editingAula"> 
        <span>Adicionar aula 
            <i *ngIf ="!addingAula" class="margin-r pointer fas fa-plus" (click)="onEdit();"></i>
            <i *ngIf ="addingAula" class="red margin-r pointer fas fa-times" (click)="onEdit(); addingAula = !addingAula;"></i>
            <i *ngIf ="addingAula" class="green margin-r pointer fas fa-check" (click)="onFinish()"></i>
        </span>  
        <div *ngIf="addingAula" class="row">
            <div class="col-sm-4">
                <select name="dia" [(ngModel)]="this.selectedAula.cdDia">
                    <option placeholder="Dia" *ngFor="let dia of diasSemana" [value]="dia.cdDia" ngDefaultControl>{{ dia.dsDia }}</option>
                </select>
            </div>
            <div class="col-sm-8 inline">
                <input name="inicio" [(ngModel)]="this.selectedAula.hrInicio" type="text" class="form-control" placeholder="Início" ngDefaultControl>
                <input name="fim" [(ngModel)]="this.selectedAula.hrFim" type="text" class="form-control" placeholder="Fim" ngDefaultControl>
            </div>
            
        </div>
    </div>
</div>