@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

/* You can add global styles to this file, and also import other style files */

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #F9542E;
    transition: all 0.3s ease;
}

.table{
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
}

h3{
  color: whitesmoke;
  font-weight: bold;
}

.button{
  font-weight: 600;
  color: #F9542E;
  text-decoration: none;
  background-color: whitesmoke;
  border: none;
  border-radius: 50%;
  padding: 10px;
  transition: all ease-in-out 300ms;
}

.button:hover{
  background-color: #D9D9D9;
}